#aschroder/smtp_pro
/app/etc/modules/Aschroder_SMTPPro.xml
/app/code/local/Aschroder/SMTPPro
/app/design/adminhtml/default/default/template/smtppro
/app/locale/en_US/Aschroder_SMTPPro.csv
#gordonlesti/lesti_fpc
/app/code/community/Lesti/Fpc
/app/design/frontend/base/default/layout/fpc.xml
/app/design/frontend/base/default/template/fpc
/app/etc/modules/Lesti_Fpc.xml
/app/etc/fpc.xml.sample
#avstudnitz/scopehint
/app/etc/modules/AvS_ScopeHint.xml
/app/code/community/AvS/ScopeHint
/app/design/adminhtml/default/default/layout/scopehint.xml
/app/locale/de_DE/AvS_ScopeHint.csv
/js/scopehint
#aoepeople/aoe_scheduler
/app/code/community/Aoe/Scheduler
/app/etc/modules/Aoe_Scheduler.xml
/shell
/app/locale/de_DE/Aoe_Scheduler.csv
/app/locale/en_US/template/email/aoe_scheduler
/app/design/adminhtml/default/default/template/aoe_scheduler
/app/design/adminhtml/default/default/layout/aoe_scheduler
/skin/adminhtml/default/default/aoe_scheduler
/var/connect
#jeroenvermeulen/solarium
/app/design/frontend/base/default/layout/jeroenvermeulen/solarium.xml
/app/design/adminhtml/base/default/layout/jeroenvermeulen/solarium.xml
/app/etc/modules/JeroenVermeulen_Solarium.xml
/js/solarium
/lib/Solarium
/lib/Symfony/Component/EventDispatcher
/skin/adminhtml/default/default/css/jeroenvermeulen/solarium.css
/skin/adminhtml/default/default/images/jeroenvermeulen/solarium
/skin/frontend/base/default/css/solarium
/app/code/community/JeroenVermeulen/Solarium
/app/locale/nl_NL/JeroenVermeulen_Solarium.csv
/app/locale/de_DE/JeroenVermeulen_Solarium.csv
/app/locale/ja_JP/JeroenVermeulen_Solarium.csv
#magento/core
/app
/downloader
/errors
/includes
/js
/lib
/media
/pkginfo
/skin
/var
/.htaccess
/api.php
/cron.php
/cron.sh
/favicon.ico
/get.php
/index.php
/install.php
/mage
#aoepeople/aoe_profiler
/app/etc/modules
/app/code/community/Aoe/Profiler
/app/code/community/Varien/Profiler.php
/app/code/community/Zend/Db/Profiler.php
/skin/frontend/base/default/aoe_profiler
/skin/adminhtml/base/default/aoe_profiler
#aoepeople/aoe_templatehints
/app/etc/modules/Aoe_TemplateHints.xml
/app/code/community/Aoe/TemplateHints
/skin/frontend/base/default/aoe_templatehints
#tim-reynolds/magento-qconfig
/app/code/community/Treynolds/Qconfig
/app/design/adminhtml/default/default/layout/treynolds
/app/design/adminhtml/default/default/template/treynolds
/js/treynolds
/skin/adminhtml/base/default/treynolds